/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2016, 7:30:17 PM
    Author     : anamdev
*/

#wrap {
    width: 1400px;
    background: #EBEBEB none repeat scroll 0% 0%;
    margin: 0px auto;
    height: auto;
    box-shadow: 3px 3px 11px rgba(56, 50, 50, 0.70);
}
#header {
	background-color: #448C44;
        height:50px;
	color: white;
	text-align: center;
	padding: 5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:700px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    height:500px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}	 