@charset "utf-8";
body {
       behavior:url(cssHoverFix.htc);
	width:1200px;
	margin-left: auto;
	margin-right:auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	/* background: #e4e4e4; */
       background-color: #909AA3;
	margin-top: 10px;
	padding: 0px;
	color: #000;
}

hr {
        color: #999;
        line-height: 1px; 	
	}
	
.inputStyle {
  color: #FFF;
  background-color: black;
  font-weight: bold;
  font-size: 120%;
  width :130px;
  height: 50px;
  }
  
  
  .inputStyle:hover {
  color: #FFF;
  background-color: #900;
  font-weight: bold;
  font-size: 120%;
  }

ul,dl {  
	padding: 10;
	margin: 0;
	list-style:none;
	display:inline;
	text-align:left
}

 h3, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { 
	border: none;
}

a:link {
	color: #2020FF;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #2020FF;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

h1 {
margin: 0px 0px 14px 0px;	
text-transform: uppercase;
font-family:Arial, Helvetica, sans-serif, Verdana;
font-size:14px;
text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
color: #007fff;
padding-left: 10px;
Line-height: 37px;
vertical-align: middle;
background-repeat:repeat-x;
}

h2 {
margin: 0 0 5px 0;
padding-bottom: 5px;	
text-transform: uppercase;
font-family:Arial, Helvetica, sans-serif, Verdana;
font-size:14px;
text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
color : black;

padding-left: 10px;
Line-height: 39px;
vertical-align: middle;
background-repeat:repeat-x;	
}

.wrap {
	width: 1200px;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	height:auto;
-webkit-box-shadow: 1px 1px 8px rgba(50, 50, 50, 0.65);
-moz-box-shadow:    1px 1px 8px rgba(50, 50, 50, 0.65);
box-shadow:         1px 1px 8px rgba(50, 50, 50, 0.65);

}

.header {
	background-color: #448C44;
       height:50px;
       color: white;
       padding: 5px;
	text-align: center;   
}


.content {
	padding: 10px 0;
	background-color: white;
	margin-top: 0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	min-height: 500px;
}

.footer {
	text-align: center;
	background-color: black;
	font-size:11px;
	color: White;
	line-height: 41px;
	vertical-align:middle;	       
}

.footer a:link, .footer a:visited {
       color: #fff;
       text-decoration: none;
} 

.footer a:hover {
       text-decoration: underline;
}



.navbar {
	margin: 0px;
	width: auto;
	min-height: 40px;
	background-repeat: repeat-x;
	text-align: center;
       font-size: 16px;
	font-weight: bold;
	color: #0094A1;
	text-transform:uppercase;}

.divsec {
	padding: 0 0 10px 0;
	float: right;
	height: auto;
	width: 425px;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.65);    
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 5px;
	background-repeat: repeat-x;
        display:inline;
	border-style: solid;
	border-color:green;
	
}
#login{
   display: none;
}
#signup{

}
#adminlogin{
display: none;
}

.left-content {
       font-family:Arial, Helvetica, sans-serif, Verdana;
       font-size: 12px;
       display:inline;
	margin: 5px 0px 10px 10px;
	padding:  0px;
	height: auto;
	width: 60%;
	float: left;
	
	background-color: white;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.65);
	border-style: solid;
	border-color:green;

}

li {
	margin-left: 25px;
	list-style:disc;
	font-size: 12px;
	margin-right: 10px;
}

.textsmall {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666;
	text-decoration: underline;
}

.inputform {
	border: 2px solid #999;
	padding: 0px;
	margin-left: 20px;
	display: block;
	margin-bottom: 15px;
}

.newinputform {
	border: 2px solid #999;
	padding: 2px;
	display: block;
	margin-bottom: 10px;
	width:220px;
	height:30px;
       font:Arial, sans-serif;
	font-size:14px;
       background-color: white;
       color: #fff;
}

.newinputform:hover {
	border: 2px solid #999;
	padding: 5px;
	margin-top: 10px;
	display: block;
	margin-bottom: 10px;
	width:220px;
	height:35px;
	font:Arial, sans-serif;
	font-size:14px;
       background-color: white;
       color: #fff;
}

h4 {  
       font-size: 12px;
       font-weight: 400;
       color: #008894;

	}

.border_less td,tr {
	width:100%;
	border:0px;
	text-align:left;
}

#container
{
	background : white;
}

.last {
    background-image: none;
}

.div {
    visibility: hidden;
    position: absolute;
    background: transparent url("images/pix.html") repeat scroll 0% 0%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display:inline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #448C44;
}

.mid-content {
       font-family:Arial, Helvetica, sans-serif, Verdana;
       font-size: 12px;
       display:inline;
	margin: 5px 0px 10px 10px;
	padding:  0px;
	height: auto;
	width: 98%;
	float: left;
	border: 1px #ffffff;
	background-color: #f9f7f3;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.65);

}
